<?php $this->layout('layout::default', ['title' => 'Facebook Callback']) ?>

<div class="jumbotron">
    <a href="<?=$this->e($loginUrl)?>">Log in with Facebook!</a>
    <?php
       var_dump([
           'message' => $message,
           'accessTokenValue' => $accessTokenValue,
           'tokenMetadataValue' => $tokenMetadataValue
       ]);
    ?>
</div>
