<?php $this->layout('layout::default', ['title' => 'Home']) ?>


<div class="jumbotron">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>id</td>
                    <td>authKey</td>
                    <td>passwordHash</td>
                    <td>passwordResetToken</td>
                    <td>email</td>
                    <td>status</td>
                    <td>name</td>
                    <td>surname</td>
                    <td>countryCode</td>
                    <td>createdAt</td>
                    <td>updatedAt</td>
                </tr>
            </thead>
            <tbody>
            <?php /** @var \App\Models\User[] $users */
            foreach($users as $user): ?>
                <tr>
                    <td><?=$this->e($user->getId())?></td>
                    <td><?=$this->e($user->getAuthKey())?></td>
                    <td><?=$this->e($user->getPasswordHash())?></td>
                    <td><?=$this->e($user->getPasswordResetToken())?></td>
                    <td><?=$this->e($user->getEmail())?></td>
                    <td><?=$this->e($user->getStatus())?></td>
                    <td><?=$this->e($user->getInfo()->getName())?></td>
                    <td><?=$this->e($user->getInfo()->getSurname())?></td>
                    <td><?=$this->e($user->getInfo()->getCountry()->getCode())?></td>
                    <td><?=$this->e($user->getCreatedAt()->format('H:i:s d-m-Y'))?></td>
                    <td><?=$this->e($user->getUpdatedAt()->format('H:i:s d-m-Y'))?></td>
                </tr>
            <?php endforeach ?>
            </tbody>
        </table>
    </div>
</div>

