<?php $this->layout('layout::default', ['title' => 'Facebook Login']) ?>

<div class="jumbotron">
    <p>First name: <?= $this->e($firstName) ?></p>
    <p>Last name: <?= $this->e($lastName) ?></p>
    <p>Photo: <img src="<?= $this->e($photoMin) ?>" ></p>
    <p>Photo: <img src="<?= $this->e($photoMax) ?>" ></p>
</div>
